.mainLayout{
  display: flex;
}
.mainContent{
    min-width: 600px;
    /* min-height: 200px; */
    width:30%;
    /* border: 1px solid #880808; */
    border-radius: 10px 10px 0px 0px;
    margin:auto;
    margin-top: 100px;
    padding-bottom: 10px;
    /* z-index: -4; */
    /* background-color: #240c01; */
    /* background-color: #E8DCB8; */
    
}
.mainLeft{
  /* min-height: 200px; */
  width:12%;
  /* border: 1px solid #880808; */
  border-radius: 10px 10px 0px 0px;
  margin:auto;
  margin-top: 150px;
  margin-bottom: 60px;
  padding-bottom: 10px;
}
.mainRight{
  /* min-height: 200px; */
  width:12%;
  /* border: 1px solid #880808; */
  border-radius: 10px 10px 0px 0px;
  margin:auto;
  margin-top: 150px;
  padding-bottom: 10px;
}
.mainHeader {
    background-color: #880808;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 1px 1px 1px black;
    /* min-height: 2vh; */
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:left;
    font-size: 1em;
    color: #000000;
    font-family: bloodFont;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .mainHeader h2{
    margin: 5px;
    padding-left: 30px;
  }
  .table{
    background-color: #f5f2e8;
    /* background-color: #E0C9A6; */
    background-image: url(../img/paper-fibers.png);
    box-shadow: 2px 2px 5px -1px black;
    width:96%;
    margin: 15px auto 15px auto;
    border-collapse: collapse;
  }
  .table thead tr{
    padding-top:40px;
    font-family: markerFont;
    letter-spacing: 2px;
  }
  /* .table thead tr th{
    font-family: markerFont;
  } */
  .table tr{
    border-bottom: 1px solid rgba(54, 142, 201, 0.288);
  }
  .tableActionCell{
    border-left: 1px solid rgba(250, 149, 149, 0.404);
  }
  .darkDiv{
    background-color: black;
    padding:10px;
    margin:2%;
  }
  .darkDiv h3{
    color: #880808;
    font-family: bloodFont;
    letter-spacing: 2px;
    margin: 1px;
  }
  .stack{
    background-color: #f5f2e8;
    background-image: url(../img/paper-fibers.png);
    box-shadow: 2px 2px 5px -1px black;
    width:30%;
    height: 100px;
    margin: 15px auto 15px auto;
    border-collapse: collapse;
    position: absolute;
     /* top: 0px;
    left: 0px;  */
  }
  .stackHolder{
    width:30%;
    margin-left: 10px;
  }
  #stack1{
    z-index: 4;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  #stack2{
    z-index: 3;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  #stack3{
    z-index: 2;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  .maskPlus {
    -webkit-mask-image: url(../img/plus2.png);
    mask-image: url(../img/plus2.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;   
    height:60px;
    width:60px;
    margin:auto;
    border:2px solid #880808;
  }
  .maskPlus img{
    height:60px;
    width:60px;
    
  }
  .redDiv{
    background-color: #880808;
    width:100%;
    height:75px;

  }
  @font-face {
    font-family: markerFont;
    src: url(../Exposition-4d49.ttf);
  }